/*
 * ─── GLOBAL ─────────────────────────────────────────────────────────────────────
 */
@media screen and (max-width: 800px) {
  .nav-right {
    display: none;
  }
}
@media screen and (max-width: 460px) {
  .wrapper-content {
    margin: 0 5%;
  }
  .section {
    padding-top: 10px;
    padding-bottom: 100px;
  }
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 100%;
  outline: 0;
  vertical-align: baseline;
}
:root {
  --main-black: #111111;
  --main-gray: #676666;
  --light-gray: #bab7b7;
  --main-blue: #289bd0;
  font-size: 17px;
}
html {
  font-family: Avenir, sans-serif;
  height: 100%;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 465px) {
  .section {
    height: 100%;
    padding-top: 0px;
  }
}

h1 {
  font-size: 50px;
  font-weight: 900;
  color: var(--main-blue);
}
h2 {
  margin-top: 80px;
  font-size: 25px;
  font-weight: 500;
  color: var(--main-black);
}
h3 {
  font-size: 20px;
  font-weight: 250;
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  font-size: 17px;
  color: var(--main-gray);
}
a {
  font-size: 17px;
  color: var(--main-gray);
  text-decoration: none;
}
li {
  list-style-position: inside;
}
@media screen and (min-width: 465px) {
  .wrapper-content {
    width: 70%;
    margin: 0 auto;
  }
}

#profilePic {
  margin-top: 50px;
  border-radius: 20%;
  width: 200px;
  height: 250px;
}
/*
 * ─── NAV ────────────────────────────────────────────────────────────────────────
 */

nav {
  position: fixed;
  top: 0px;
  line-height: 60px;
  width: 100%;
  background-color: white;
  z-index: 99;
}
#logo {
  margin-left: 5%;
  color: var(--main-black);
}
.menu {
  font-weight: 500;
  color: var(--main-black);
  animation-duration: 3s;
  animation-name: slideinnav;
  animation-iteration-count: 1;
}
@keyframes slideinnav {
  0% {
    margin-right: 0%;
  }
  50% {
    margin-left: 10px;
  }
  100% {
    margin-left: 0%;
  }
}

.active {
  color: var(--main-blue);
}
.nav-right {
  position: fixed;
  right: 5%;
  top: 0px;
}

.nav-right a {
  margin-right: 60px;
}
.nav-right a.selected {
  color: var(--main-blue);
}
.nav-right a:hover {
  color: var(--main-blue);
}
.rec {
  background-color: var(--main-blue);
  display: inline-block;
  width: 7px;
  height: 14px;
  margin-right: 3px;
}

/*
 * ─── CONTENT ────────────────────────────────────────────────────────────────────
 */
.landing {
  margin-top: 150px;
  display: flex;
}
.left {
  flex: 1;
  margin-top: 50px;
  position: relative;
}
.right {
  flex: 1;
  position: relative;
}
.right p {
  max-width: 500px;
}
.left p {
  max-width: 500px;
}
/*
 * ─── FOOTER ─────────────────────────────────────────────────────────────────────
 */
footer {
  position: fixed;
  bottom: 0px;
  line-height: 50px;
  width: 100%;
  background-color: white;
  z-index: 99;
}

.social {
  position: fixed;
  left: 5%;
}
@media screen and (min-width: 461px) {
  .social i {
    font-size: 25px;
  }
}
@media screen and (max-width: 460px) {
  .social a {
    font-size: 15px;
  }
  .social i {
    font-size: 20px;
  }
}
.social a {
  margin-right: 60px;
}
footer p {
  color: white;
}
@media screen and (max-width: 460px) {
  .social .tooltip {
    visibility: hidden;
  }
}

/* 
    Tooltip for copying email
*/

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 2px 3px;
  border-radius: 8px;
  font-size: 12px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
